body {
    background-color: black;
    font-family: sans-serif;
}

h1, h2, p, ul, ol {
    color: white;
}

p {
    font-size: 20px;
    padding-right: 80%;
}

a {
    color: blue;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: red;
    color: white;
    text-align: center;
}
